<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <h1>Welcome <%= @contact.first_name %>!</h1>
    <p><%= @content %></p>
    <BR>
    <BR>
    <p><%= @signature %></p>
  </body>
</html>









        @welcome="Welcome #{@contact.first_name}!  Get ready to receive info on latest promos, events, and flavors.  If you woud like to 'Unsubscribe', please click the link below-"
