<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m2 center">
      </div>
        <div class="col s12 m8 center">
          <h1 class="flv_vote_cl center">Voting for this Friday tis Closed</h1>
          <h3 class="center">Voting resumes on Friday</h3>
          <%=image_tag("girl_lick2.jpg")%>
        </div>
      <div class="col s12 m2 center">
      </div>
    </div>
  </div>
</div>
