<div>
  <!-- <h1>Rockaway Ice Lady Flavors</h1> -->

  <div class="about_cat_col">
    <h3>Water Ices<h3>
    <% @flavor_waters.each do |w| %>
      <p><%= w.name %></p>
    <% end %>
  </div>

  <div class="about_cat_col">
    <h3>Creme Ices<h3>
    <% @flavor_cremes.each do |c| %>
      <p><%= c.name %></p>
    <% end %>
  </div>
<div>
