<h1 class="flv_first"><%= @first.name %> is in the lead...Not your favorite?  Better vote!</h1>

<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<%= content_tag "canvas", id: "myChart", width: "200", height: "200", data: {flavors: @flavors} do %>
<% end %>
