<script>
  var logo="<%=asset_path("favicon_32.png")%>";
</script>
<div class="container">
  <div class="row">
    <h3 id="map-title" class="center">Where's the Rockaway Ice Lady Cart?</h3>
    <div class="col s12 offset-s2 m4 l2 left">
      <%=image_tag("where.jpg", id: "map-where")%>
    </div>
    <div class="col s12 m8 l10 left">
      <%= content_tag "div", id: "map", data: {locations: Location.all} do %>
      <% end %>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_KEY"] %>&callback=initMap"></script>
