<h3>Where's the Rockaway Ice Lady Cart?</h3>
<%= content_tag "div", id: "map", data: {locations: Location.all} do %>
<% end %>
<!-- <div id="map"></div> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_KEY"] %>&callback=initMap"></script>
