<div class="container">
  <div class="row">
    <div class="col m1 l2">
    </div>
    <div class="col s12 m10 l9 center">
      <%=video_tag("/videos/commercial.mp4", preload:"auto", width: "100%", height: "100%", autoplay: false, controls: true)%>
    </div>
    <div class="col m1 l2">
    </div>
  </div>
</div>
