<ul id="slides">
    <li id="intro" class="slide showing">
      <p class="slideP">Individually Handcrafted Italian Ices.</p>
      <BR>
      <p class="slideP"><em>"Adult"</em> flavors available.</p>
      <BR>
      <p class="slideP">Unique flavors such as Arnold Palmer, Cookie Monster, Caribbean Rainbow and more!</p>
      <a class="slideA" href="/flavors/about"></a>
    </li>
    <li id="slide_li2" class="slide">
      <p class="slideP">Favorite Flavor Friday is coming...</p>
      <BR>
      <p class="slideP">...Vote for yours!</p>
      <a class="slideA flv_vote_btn" href="/flavors/flavor_friday_form"></a>
    </li>
    <li id="slide_li3" class="slide">
      <p class="slideP">Where's the cart???</p>
      <a class="slideA" href="/maps/wheres_cart"></a>
    </li>
    <li id="slide_li4" class="slide">
      <p class="slideP">Book the cart for special events!</p>
      <a class="slideA" href="/events/event_form"></a>
    </li>
    <li id="slide_li5" class="slide">
      <p class="slideP"></p>
      <a class="slideA" href="/"></a>
    </li>
</ul>

<!-- <a href="/maps/wheres_cart" target="_self"></a> -->
