// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #cnt_sub_f{
//   position: absolute;
//   top: 20%;
//   margin: 0 auto;
//   left: 40%;
// }

#cnt_sub_err{
  color: red;
}

.cnt_f_div{
  font-size: 30px;
  color: #0F0A0A !important;
}

.cnt_f_p{
  margin-left: 25%;
}

.cnt_f_lbl{
  font-size: 25px !important;
  color: #0F0A0A;
}

.cnt_input{
  color: #B9D61A !important;
  font-size: 20px !important;
  width: auto !important;
  // background-color: white !important;
}

.cnt_input_mobile{
  border: 1px solid #9e9e9e !important;
}
