// Place all the styles related to the flavors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flv_first{
  color: #FF3AAE;
}

.flv_vote_cl{
  opacity: 0;
}

.flv_f{
  font-size: 30px;
  color: #0F0A0A !important;
}

#flavor_friday_form{
  opacity: 1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
}

.flv_f_p{
  margin-left: 25%;
}

.flv_f_s{
  display: inline-block;
  margin-right: 75px;
  width: 335px;
}

.flv_input{
  color: #B9D61A;
  font-size: 20px !important;
}

.flv_f_note{
  font-size: 20px;
  color: #FF3AAE;
}

.flv_cl_1{
  color: #B9D61A;
  font-weight: bold;
}

.flv_cl_3{
  color: #039be5;
  font-weight: bold;
}

.flv_f_lbl{
  font-size: 25px !important;
  color: #0F0A0A;
}

.subBtn{
  background-color: #B9D61A !important;
  color: #039be5 !important;
}

.flv_img{
  width: 30%;
  height: 30%;
  background-color: #FFF600;
}

@media only screen and (min-width : 0px) {
  #flavor_friday_form{
    top: 10%;
  }
}

@media only screen and (min-width : 990px) {
  #flavor_friday_form{
    top: 35%;
  }
}
