// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-container{
  min-height: 500px;
  height: auto;
}

#home-cans{
  display: block;
  transform: translate3d(-50%, 567px, 0px);
}

#home-hyd{
  display: block;
  transform: translate3d(-50%, 693px, 0px);
}

#home-bench{
  display: block;
  transform: translate3d(-50%, 79px, 0px);
}

#home-fly{
  display: block;
  transform: translate3d(-50%, 324px, 0px);
}

#home-book{
  display: block;
  transform: translate3d(-50%, 273px, 0px);
}
